<div class="container">

  <h2>Crie um Lembrete</h2>

    <div class="row">
      <div class="form-group col-12">
        <label for="nomeInput">Título</label>
        <input id="nomeInput" type="text" placeholder="Titulo" class="form-control p-4" name="nome">
      </div>
    </div>

    <div class="row">

      <div class="form-group col-md-6">
        <label for="foneInput">Criado Em:</label>
        <input id="foneInput" type="text" placeholder="CriadoEm" class="form-control p-4" name="fone">
      </div>

      <div class="form-group col-md-6">
        <label for="foneInput">Prazo</label>
        <input id="foneInput" type="text" placeholder="Prazo" class="form-control p-4" name="fone">
      </div>


      <div class="form-group col-md-12">
        <label for="emailInput">Descrição</label>
        <input type="text" id="emailInput" placeholder="Descricao" class="form-control p-4" name="email">
      </div>

      <div class="row">
        <div class="col-12">
          <section>
            <div class="example-button-row">

              <button mat-raised-button color="warn">Enviar</button>

            </div>
          </section>
        </div>
      </div>




